.title {
  display : flex ;
  justify-content: space-evenly ;
}
.title{
  font-family : chalkduster;
  font-size : 40px;
}
.buttons {
  display : flex ;
  justify-content: space-evenly ;
  align-items: center ;
  padding: 30px;
  margin: 25px;
}
.buttons {
  background-color : #778899 ;
  color : #D3D3D3 ;
}
.rbutton {
  font-size : 30px;
  font-style : "Verdana";
}

.pbutton {
  font-size : 30px; 
  font-style : "Verdana";
}

.sbutton {
  font-size : 30px;
  font-style : "Verdana";
}

.scoreBox {
  display : flex ;
  justify-content: space-evenly ;
  flex-direction : column;
  align-items: center;
}
.playerPicked {
  padding : 15px;
}
.computerPicked {
  padding : 15px;
}
.score {
  padding : 15px;
}
.scoreBox {
  font-family : "Verdana"; 
  border-color : black ;
  border-width : 5px ;
  border-style : solid ;
}
  

